
<footer>

    <div class="container-grid informacoes">

      <nav id= "menu" class="menu">
        
        <div class="conteudo-links">
   
          <h1>Links</h1>
          
          <section><a href="">Política de compra e venda</a></section>
          <section><a href="">Segurança e privacidade</a></section>
          <section><a href="">Trabalhe conosco</a><img src="../../../assets/Img/COMPRASEGURA 1.png"></section>
            
        </div>

        <div class="conteudo-atendimento">

          <h2>Atendimento</h2>

          <section><p>(41) 3375-5484</p></section>
          <section> <p>Horário de atendimento </p> </section>
          <section><p>Segunda à sábado das 9h às 17h</p></section>
        
        </div>

        <div class="conteudo-cnpj">

          <h3>Bia Bia Comércio de Eletrônicos Ltda</h3>
          
          <section><p>CNPJ:15.680.318/0001-81</p></section>
          <section><p>Rua Almirante, 71, Bloco B, Centro, Curitiba-PR</p></section>        
          
        </div>
         
        <div class="conteudo-redes">
          
          <h4>Siga-nos nas redes sociais</h4>
          <section><a href=""><img src="../../../assets/Img/Component 1.png"></a></section>
         
         </div>

        
        </nav>

    </div>

    </footer>
