 <div id="carouselExample" class="carousel slide banner">
    <div class="carousel-inner" >
    <div class="carousel-item active">
    
        <img src="../../../assets/Img/banner-zelda.webp" class="d-block w-100" style="height: 600px; display: flex; width: 100%; background-position: center; background-size: cover" alt="...">
    </div>
   
    <div class="carousel-item">
      <img src="../../../assets/Img/banner-lol.webp" class="d-block w-100" style="height: 600px; display: flex; width: 100%; background-position: center; background-size: cover" alt="...">
    </div>
    
    <div class="carousel-item">
      <img src="../../../assets/Img/banner-fifa.jpg" class="d-block w-100" style="height: 600px; display: flex; width: 100%; background-position: center; background-size: cover" alt="...">
    </div>
  
</div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
 
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  
</div> 

<section class="jogos">
    <div class="container posicionamento-jogos">
       <a href="#">Playstation</a>
       <a href="#">Xbox</a>
       <a href="#">Nintendo</a>
       <a href="#">Clássicos</a>
    </div>
</section>

<section class="banner_2 banner-f1">
    <div class="container posicionamento-conteudo">
      <div class="conteudo-banner_2">
        <h1>Sobre</h1>
        <p>O E-Gamers é um site de compra e venda focado no nicho de jogos novos e usados. Entregas via motoboy de segunda a sexta. Compra ou venda seus jogos conosco. Aproveite o que nosso menu possa oferecer, divirta-se!</p>
      </div>
    </div>
</section>

<!-- <section class="secao-noticias">
    <div class="container">
        <div class="bloco-noticias">
            <h2>Notícias</h2>
            <div id="espaco-noticias" class="content-news">
                    <div *ngFor="let noticias of listaNoticias" class="cardnews">
                        <img [src]="noticias.imagem" alt="Foto da jogadora profissional">
                        <h3>{{noticias.titulo}}</h3>
                        <p>{{noticias.descricao}}</p>
                    </div> -->

  


<!-- 

<div id="carrossel" class="banner banner-f1">
    <div class="container-grid posicao-texto">
        <div class="texto-banner">
            <h1>Liga E-Players</h1>
            <p>O maior portal de campeonatos online</p>
            <a href="">Inscreva-se</a>
        </div>
    </div>
</div>

<section class="secao-jogos">
    <div class="jogos container">
        <a href="#"><img src="../../../assets/Img/banner-fifa.jpg" alt="Logo da Fifa"></a>
        <a href="#"><img src="../../../assets/Img/banner-lol.webp" alt="Logo do League of Legends"></a>
         <a href="#"><img src="../../../assets/Img/banner-zelda.webp" alt="Logo do Zelda"></a> 
    </div>
</section>
<section class="secao-sobre">
    <div class="conteudo-sobre container">
        <div class="row alinhar-centro">
            <div class="texto-sobre col">
                <h2>Sobre</h2>
                <p>O E-Gamers é um site de compra e venda focado no nicho de jogos novos e usados. Entregas via motoboy de segunda a sexta. Compra ou venda seus jogos conosco. Aproveite o que nosso menu possa oferecer, divirta-se!
                </p>
            </div>
             <div class="container-imagem col">
                <img src="../../../assets/Img/banner-f1.jpg" alt="Imagem Fórmula 1">
            </div> -
        </div>
    </div>
</section> -->
