<header>
    <div class="container-grid posicionamento-header">
        <a href="#"><img src="../../../assets/Img/LOGO.svg" alt="Logo do site E-Players"></a>
        <nav id="menu" class="menu">
           
            <a href="#">Contato</a> 
            <a href="#">Minha Conta</a>
            <a href="#">Notícias</a>

        </nav>
        <!-- <a href="#" onclick="mostrarMenu()"><img class="barras" src="img/bars.svg" alt="Menu de barras"></a> -->
        <!--<a href="#" id="barras"><img class="barras" src="assets/img/bars.svg" alt="Menu de barras"></a> -->
    </div>
</header>





<!-- <header>
    <div class="container-grid posicionamento-header">
        <a> href = "#"><img src="../../../assets/Img/LOGO.svg" alt="Logo do site E-GAMES"></a>
        <nav id="menu" class="menu">
            <a routerLink="">Contato</a>

        </nav>
    </div>
</header>
<mat-toolbar>
    <mat-toolbar-row>
        <a class="logo" routerLink="/">
            <img src="../../../assets/Img/LOGO.svg">
        </a>
        <div class="menu-links">
            <a href="#">Jogos</a>
            <a href="#">Contato</a>
            <a href="#">Login</a>
            <a href="#">Resultados</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

 <header>
    <div class="container-grid posicionamento-header">
        <a href="#"><img src="assets/img/logo.svg" alt="Logo do site E-Players"></a>
        <nav id="menu" class="menu">
            <a routerLink="">Início</a>
            <a href="#">Horários</a>
            <a routerLink="/contato">Contato</a> 
            <a href="#">Resultados</a>
            <a href="#">Notícias</a>
        </nav>
         <a href="#" onclick="mostrarMenu()"><img class="barras" src="img/bars.svg" alt="Menu de barras"></a> 
        <a href="#" id="barras"><img class="barras" src="assets/img/bars.svg" alt="Menu de barras"></a>
    </div>
</header> --> 
